html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to a Basic Web-App
        h2 Check out some of the Cloud Native Security Sessions from Outshift at Cisco Live 2024
        p
          a.btn.btn-primary(href="https://www.ciscolive.com/global/learn/session-catalog.html?search=brketi-2511#/") BRKETI-2511

          a.btn.btn-primary(href="https://www.ciscolive.com/global/learn/session-catalog.html?search=brketi-2512#/") BRKETI-2512

          a.btn.btn-primary(href="https://www.ciscolive.com/global/learn/session-catalog.html?search=DEVWKS-3002#/") DEVWKS-3002
