html
  head
    title='TECETI-2000'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to a Basic Web-App
        h2 Check out some of the Cloud Native Sessions at Cisco Live EMEA 2025
        p
          a.btn.btn-primary(href="https://www.ciscolive.com/emea/learn/session-catalog.html?search=TECETI-2000#/") BRKETI-2511

          a.btn.btn-primary(href="https://www.ciscolive.com/emea/learn/session-catalog.html?search=BRKETI-2491#/") BRKETI-2512

          a.btn.btn-primary(href="https://www.ciscolive.com/emea/learn/session-catalog.html?search=BRKCLD-2696#/") DEVWKS-3002
